.#{$prefix}btn-group {
  display: flex;
  .#{$prefix}btn {
    &-fluid {
      display: inline-flex;
      width: 100%;
      flex: 1;
    }
    @include border-radius-with-pill(0);
    &:not(:first-of-type) {
      margin-left: -1px;
    }
    &:first-of-type {
      @include border-radius-left-with-pill($btn-border-radius);
    }

    &:last-of-type {
      @include border-radius-right-with-pill($btn-border-radius);
    }
    &-pilled:not(.#{$prefix}btn-plain) {
      @include border-radius-with-pill(0);
      &:first-of-type {
        @include border-radius-left-with-pill($btn-border-radius, true);
      }

      &:last-of-type {
        @include border-radius-right-with-pill($btn-border-radius, true);
      }
    }
    &:hover,
    &:focus {
      z-index: 1;
    }
  }
}
.#{$prefix}btn {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  border-width: $btn-border-width;
  border-style: $btn-border-style;
  border-color: $btn-border-color;
  background: $btn-background-color;
  color: color-contrast($btn-background-color);
  font-size: $btn-font-size;
  min-height: $btn-height;
  padding: $btn-padding-v $btn-padding-h;
  cursor: pointer;
  text-decoration: none;
  font-weight: $btn-font-weight;
  text-decoration: none;
  vertical-align: baseline;
  @include border-radius-with-pill($btn-border-radius);
  @include transition($btn-transition);

  @include button-variants();
  @include button-shadow();

  &:hover,
  &:focus {
    border-color: $primary;
    color: $primary;
  }

  &:active {
    border-color: $primary;
    color: $primary;
  }
  &-text {
    &:hover,
    &:focus {
      background-color: rgba(var(--#{$prefix}primary-rgb), 0.1);
    }
    &:active {
      background-color: rgba(var(--#{$prefix}primary-rgb), 0.2);
    }
  }

  &-fluid {
    display: flex;
    width: 100%;
  }
  &-outlined,
  &-text,
  &-plain {
    background-color: transparent;
  }
  &-text,
  &-plain {
    border-width: 0;
    color: $primary;
  }
  &-plain {
    min-height: 0;
    padding: 0 0;
    font-weight: inherit;
  }
  &-pilled:not(.#{$prefix}btn-plain) {
    @include border-radius-with-pill($btn-border-radius, true);
  }
  &-only-icon {
    padding: $btn-padding-v;
    min-width: $btn-height;
    span {
      font-size: 90%;
    }
  }
  &-with-icon {
    column-gap: $btn-icon-margin;
    span.#{$prefix}btn-icon {
      font-size: 70%;
    }
  }
  &-small {
    font-size: $btn-font-size * 0.9;
    &:not(.#{$prefix}btn-plain) {
      min-height: $btn-height - 8px;
      padding: $btn-padding-v * 0.7 $btn-padding-h * 0.9;
      &.#{$prefix}btn-only-icon {
        padding: $btn-padding-v * 0.7;
        min-width: $btn-height - 8px;
      }
    }
  }
  &-large {
    font-size: $btn-font-size * 1.2;
    &:not(.#{$prefix}btn-plain) {
      min-height: $btn-height + 8px;
      padding: $btn-padding-v * 1.1 $btn-padding-h * 1.4;
      &.#{$prefix}btn-only-icon {
        padding: $btn-padding-v * 1.1;
        min-width: $btn-height + 8px;
      }
    }
  }

  &-disabled,
  &-disabled:hover,
  &-disabled:active {
    cursor: not-allowed;
    border-color: $btn-disabled-border-color !important;
    color: $btn-disabled-text-color !important;
    box-shadow: 0 0 0 transparent !important;
    &:not(.#{$prefix}btn-plain) {
      background-color: $btn-disabled-background-color !important;
    }
  }
}
