.#{$prefix} {
	&icon {
		display: inline-block;
		vertical-align: middle;
		line-height: 0;
		svg {
			font-size: 150%;
		}
		&-small svg {
			font-size: 100%;
		}
		&-large svg {
			font-size: 200%;
		}
	}
}
