.#{$prefix} {
	&icon {
		display: inline-flex;
		align-items: center;
		justify-content: center;
		svg {
			font-size: 150%;
		}
		&-small svg {
			font-size: 100%;
		}
		&-large svg {
			font-size: 200%;
		}
	}
}
