.#{$prefix}layout {
    display: flex;
    flex: auto;
    flex-direction: column;
    min-height: 0;
    background-color: $layout-bg;

    &:not(.#{$prefix}layout .#{$prefix}layout) {
        min-height: 100vh;
    }
    &-has-sider {
        flex-direction: row;
    }

    &-sider {
        position: relative;
        min-width: 0;
        background: $layout-sider-bg;
        overflow: auto;
        @include transition();
        @include sider-width();
        &-collapsed {
            @include sider-width($sider-collapsed-width);
        }

        &-content {
            height: 100%;
            overflow: hidden;
        }
    }
    &-header {
        height: $header-height;
        padding: $header-padding-v $header-padding-h;
        color: color-context($header-bg);
        line-height: $header-height;
        background: $header-bg;
    }

    &-content {
        padding: $content-padding-v $content-padding-h;
        background: $content-bg;
        flex: auto;
        display: flex;

        &-body {
            flex: auto;
            &-boxed {
                padding: $content-padding-v $content-padding-h;
                background-color: $content-body-bg;
                @include border-radius();
            }
        }
    }
}
